@import '../../style/variables.scss';

.todoItem {
    position: relative;
    list-style-type: none;
    &:hover {
        .todoItem__btn-delete {
            span {
                background-color: var(--task-btns-color);
            }
            &:hover {
                span {
                    background-color: var(--task-btns-hover-color);
                }
            }
        }
    }
    &:focus-within {
        .todoItem__text {
            z-index: 10;
            border: 1px solid var(--border-hover-focus-color);
        }
        .todoItem__btn-delete {
            span {
                background-color: var(--task-btns-color);
            }
            &:hover {
                span {
                    background-color: var(--task-btns-hover-color);
                }
            }
        }
        @media (max-width: 767px) {
            .todoItem__text {
                border: 1px solid var(--border-color);
            }
            .todoItem__btn-delete {
                display: block;
                span {
                    background-color: var(--task-btns-mobile-color);
                }
            }
        }
    }
    &:first-child {
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }
    &:last-child {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    &:not(:first-child) {
        margin-top: -1px;
    }
    &__btn {
        &-checkbox {
            position: absolute;
            z-index: 15;
            top: 6.5px;
            left: 18px;
            height: 25px;
            width: 25px;
            cursor: pointer;
            @media (max-width: 767px) {
                cursor: default;
                top: 11px;
            }
            &_icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50% , -50%);
                height: 16px;
                width: 16px;
                transition: all 0.3s;
                &-unchecked {
                    fill: var(--task-btns-color);
                    &:hover {
                        fill: var(--task-btns-hover-color);
                    }
                    @media (max-width: 767px) {
                        fill: var(--task-btns-mobile-color);
                        &:hover {
                            fill: var(--task-btns-mobile-color);
                        }
                    }
                }
                &-checked {
                    fill: var(--task-btns-color);
                    &:hover {
                        fill: var(--task-btns-hover-color);
                    }
                    @media (max-width: 767px) {
                        fill: var(--task-btns-color);
                        &:hover {
                            fill: var(--task-btns-color);
                        }
                    }
                }
            }
            input {
                display: none;
            }
        }
        &-delete {
            position: absolute;
            z-index: 15;
            top: 6.5px;
            right: 13px;
            height: 25px;
            width: 25px;
            background-color: transparent;
            transition: all 0.3s;
            cursor: pointer;
            span {
                position: absolute;
                left: 0;
                right: 0;
                margin: -0.5px auto 0;
                top: 50%;
                height: 1.25px;
                width: 16px;
                background-color: transparent;
                transition: all 0.3s;
                &:first-child {
                    transform: rotate(45deg);
                }
                &:last-child {
                    transform: rotate(-45deg);
                }
            }
            @media (max-width: 767px) {
                display: none;
                cursor: default;
                top: 11px;
            }
        }
    }
    &__text {
        position: relative;
        min-height: 40px;
        width: 100%;
        color: var(--text-color);
        font-size: 17px;
        word-wrap: break-word;
        white-space: pre-wrap;
        outline: none;
        padding: 9px 50px;
        border: 1px solid var(--border-color);
        border-radius: inherit;
        &-crossed {
            color: var(--text-crossed-color);
            text-decoration: line-through;
        }
        @media (max-width: 767px) {
            min-height: 48px;
            padding: 13px 81px 13px 50px;
        }
    }
}


