@import '../../style/variables.scss';

.noTasks {
    text-align: center;
    &__icon {
        height: 120px;
        width: 120px;
        fill: var(--status-icon-color);
    }
    &__text {
        font-size: 24px;
        color: var(--status-text-color);
    }
}